<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROCUTS BARBERSHOP | <%= title %>
    </title>
</head>

<body>
    <nav>
        <div class='header'>
            <a href="/">
                <h1>PROCUTS BARBERSHOP</h1>
            </a>
            <p>Your local barbershop</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/barbers">Barbers</a></li>
            <li><a href="/barbers/book">Book Appointment</a></li>
        </ul>
    </nav>
    <div>
        <h2>About Page</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis animi commodi est, eius optio esse
            voluptatum blanditiis accusamus iure asperiores quia vitae, necessitatibus quos dicta voluptas praesentium
            ad cumque id!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe exercitationem corrupti officia reiciendis
            soluta. Tenetur optio ad iusto a asperiores distinctio nisi consequuntur laborum quos, sint dolores
            consequatur perspiciatis quam nobis ab eveniet quidem tempora animi veniam. Sunt, tenetur. Libero aperiam
            veniam quam, placeat dolores adipisci distinctio recusandae ex nam.</p>
    </div>

</body>

</html>