<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROCUTS BARBERSHOP | <%= title %>
    </title>
</head>

<body>
    <nav>
        <div class='header'>
            <a href="/">
                <h1>PROCUTS BARBERSHOP</h1>
            </a>
            <p>Your local barbershop</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/barbers">Barbers</a></li>
            <li><a href="/barbers/book">Book Appointment</a></li>
        </ul>
    </nav>
    <div>
        <h2>Barbers Page</h2>
    </div>

</body>

</html>